<mat-card>
  <form #f="ngForm" (ngSubmit)="onAddPost(f)">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        placeholder="Post Title"
        #title="ngModel">
        <mat-error
          *ngIf="title.invalid">
          Please enter post title.
        </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="Post Content"
        #content="ngModel">
      </textarea>
      <mat-error
        *ngIf="content.invalid">
        Please enter post content.
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="!f.valid"
      color="accent"
      mat-raised-button
      >Save Post
    </button>
  </form>
</mat-card>
